# Dependencies
node_modules
.pnp
.pnp.js

# Local env files
.env
.env.local
.dev.vars
.env.development.local
.env.test.local
.env.production.local

# Testing
coverage

# Nx
.nx/cache
.nx/workspace-data

# Vercel
.vercel

# Cloudflare Wrangler
.wrangler

# Build Outputs
dist
.output
.nitro
.tanstack
.vinxi

# Debug
npm-debug.log*

# Misc
.DS_Store
*.pem



.nx/cache
.nx/workspace-data